# Dependencies
node_modules
**/node_modules

# Environment files
.env
.env.*
**/.env
**/.env.*

# Git
.git
.gitignore

# Frontend build
frontend/dist

# Logs
*.log
npm-debug.log*

# Docker
Dockerfile
.dockerignore

# Coverage
coverage
**/coverage